<!-- <p>users-list works!</p> -->
<div class="user__main">
    <app-header></app-header>

    <button class="btn_add" mat-flat-button color="primary" (click)="openAddUserDialog()">
        Add User
    </button>

    <div class="users__list">
        <div *ngFor="let user of users$ | async">
            <app-users-card 
                [user]="user" 
                (deleteUserEvent)="onDeleteUser($event)"
                (click)="openDialogWithCard(user)">
            </app-users-card>
        </div>
    </div>

    <app-footer></app-footer>
</div>

